
* {
    font-family : 'Roboto', sans-serif;
    text-align: justify;
}

h1{
    text-align: center;
    text-decoration: underline;
}

.date{
    color: ivory;
}

.date p{
    text-align: center;
}


.logo-rose{
    width: 40px;
    margin-right: 15px;
    filter: invert(64%) sepia(49%) saturate(3283%) hue-rotate(302deg) brightness(103%) contrast(98%);
}

.container lorem{
     width: 500px;
    height: 500px;
}

.container.lorem p{
    background-color: grey;
}
