{% extends 'base.html.twig' %}
{# on vient charger le template #}
{# AUCUN CODE HTML EN DEHORS DES BLOCKS TWIG #}

{% block titre%} About us | {{parent() }} {% endblock %}
{# avec parent je récupère le contenu du blc parent #}


{% block central%}
    <h1>about us</h1>
{% endblock %}


{% block body %}

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut felis sed erat sollicitudin vehicula et nec nunc. Integer ipsum lacus, dapibus ut arcu vel, hendrerit tincidunt magna. Ut eleifend nibh ac urna luctus volutpat. Quisque quis gravida nisi, vel scelerisque nulla. Fusce euismod maximus interdum. Duis felis elit, tristique in semper in, placerat sed neque. Donec mattis tortor in sem vestibulum fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

Mauris facilisis egestas lorem, at finibus enim mattis a. Sed placerat molestie lorem, et porta urna auctor ac. Pellentesque euismod lacinia nulla eu blandit. Aenean lectus quam, porta nec pellentesque quis, scelerisque vitae libero. Donec et sollicitudin dui. Vivamus neque neque, suscipit eu nunc in, aliquet ultricies nibh. Cras aliquam metus dolor, non dapibus purus luctus in. Maecenas sagittis tempor quam, ac posuere nibh porta et. Cras ac urna nibh. Nunc eu porta nibh. Aenean condimentum, lorem pharetra iaculis tempor, felis orci ultricies eros, ut lacinia tortor arcu sed purus. Pellentesque euismod posuere dui, sit amet fringilla lacus ullamcorper ac. Curabitur tellus nibh, semper et dignissim sed, sagittis et ex. Ut mollis sollicitudin posuere. Nullam finibus odio eget venenatis condimentum. Curabitur et bibendum risus.

Aliquam erat volutpat. Vestibulum lacinia arcu eget purus euismod facilisis. Curabitur nibh lectus, laoreet ac purus eu, viverra efficitur magna. Sed ac rhoncus sem, sed viverra sem. Cras interdum ligula ante, nec laoreet urna pretium eget. Mauris lorem lectus, fermentum ornare interdum ut, imperdiet eget magna. Morbi ultrices consectetur libero, sed placerat nibh mollis ac. Duis finibus hendrerit posuere. Donec non velit at justo posuere tristique rhoncus non nibh. Nullam posuere mauris est, non semper sapien bibendum at. Donec a pretium massa. Mauris eget lobortis sem, ut tempor nibh. Curabitur eu pharetra nisi.
{% endblock %}