{% extends 'base.html.twig' %}
{# on vient charger le template #}
{# AUCUN CODE HTML EN DEHORS DES BLOCKS TWIG #}

{% block titre%} Liste des choses à faire | {{parent() }} {% endblock %}
{# avec parent je récupère le contenu du blc parent #}


{% block central%}
    <h1>Liste</h1>
{% endblock %}